name: Test

on:
  push:
    branches: [ main ]
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: jdx/mise-action@v3

      - uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version-file: 'go.mod'

      - name: Setup golangci cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/golangci-lint
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.mod') }}-${{ hashFiles('**/*.go') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ hashFiles('**/go.mod') }}-${{ hashFiles('**/*.go') }}
            ${{ runner.os }}-go-${{ hashFiles('**/go.mod') }}-
            ${{ runner.os }}-go-

      - name: Setup golangci cache status
        run: golangci-lint cache status

      - name: Run tidy
        run: make tidy && git diff --exit-code

      - name: Run lint
        run: make lint

      - name: Run test
        run: make test

